.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  width: 700px;
  background: rgb(255, 255, 255);
}

.featureBlock {
  display: inline-block;
  vertical-align: middle;
}